@use "color" as *;

#app {
  // Liens dans l'application
  a {
    text-decoration: none;
  }

  // Titre de l'application
  #app-title {
    font-size: large;
  }

  &.v-theme--light #app-title {
    color: $lightmode-text-color !important;
  }

  // Pages avec timeline
  #formation,
  #experience {
    .v-timeline:before {
      left: calc(50% - 5px);
    }

    .v-card-text ul {
      padding-inline-start: 1.5rem;
    }

    .v-avatar .v-img__img {
      object-fit: contain;
    }
  }

  // Skill list
  .skill-list {
    .v-chip-group .v-chip--selected {
      background-color: $primary;
      color: black;

      &::before {
        opacity: 0;
      }
    }
  }

  // Footer
  footer.v-footer {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  // Styles transverses
  .v-card-title {
    word-break: break-word;
  }

  .v-timeline:before {
    width: 10px;
    background: $primary;
  }
}
